asgiref==3.2.10
Django==3.0
pytz==2020.1
sqlparse==0.3.1
PyJWT==1.7.1
pytz==2020.1
sqlparse==0.3.1
psycopg2-binary
asgiref==3.2.10
attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
cffi==1.14.2
channels==2.4.0
click==7.1.2
constantly==15.1.0
cryptography==3.1
daphne==2.3.0
Django==3.1
django-redis==4.12.1
django-redis-cache==2.1.1
djangochannelsrestframework==0.1.1
djangorestframework==3.11.1
h11==0.9.0
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
psycopg2==2.8.5
pycparser==2.20
PyHamcrest==2.0.2
PyJWT==1.7.1
pytz==2020.1
redis==3.5.3
six==1.15.0
sqlparse==0.3.1
Twisted==20.3.0
txaio==20.4.1
uvicorn==0.11.8
websockets==8.1
zope.interface==5.1.0
